
  /* width */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 1px 1px 10px #000; 
    border-radius: 10px;
  }
   
  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background:#444; 
  }